version: '3.8'
services:
  portfolio:
    build: .
    ports:
      - "4321:4321"
    volumes:
      - .:/app                # Mapea tu código
      - /app/node_modules     # PROTEGE los módulos del contenedor
    environment:
      - CHOKIDAR_USEPOLLING=true # También puedes ponerlo aquí directamente