html, body {
  overflow: hidden; /* ✅ Previene scroll del navegador */
}


.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}


.scroll-container::-webkit-scrollbar {
  display: none;
}


section {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

section::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}