@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #161512;
  color: white;
  /* Eliminamos overflow: hidden para permitir el scroll natural */
}

/* Si quieres ocultar la scrollbar pero que siga funcionando */
.scroll-container {
  min-height: 100vh;
}

/* Ocultar scrollbar en toda la página de forma limpia */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}