---
import ProjectsGrid from "../shared/ProjectsGrid.astro";
import Stack from "./Stack.astro";

// 1. Detectamos el idioma una sola vez en el padre
const lang =
  Astro.request.headers.get("cookie")?.match(/preferredLang=([^;]+)/)?.[1] ||
  "es";
---

<section
  id="projects"
  data-section="projects"
  aria-label="Projects section"
  class="bg-[#161512]"
>
  {/* 2. Pasamos el lang como prop */}
  <ProjectsGrid lang={lang} />
</section>

<section
  id="stack"
  data-section="stack"
  aria-label="Stack section"
  class="bg-[#161512] py-24 lg:px-26"
>
  {/* 3. Pasamos el lang como prop */}
  <Stack lang={lang} />
</section>

<style>
  section {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
  }

  section::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }
</style>