<div class="hero">
    <div class="right">
        <h1 class="text-right" >El arte también se programa.</h1>
        <h2>Desarrollador Web y Fotógrafo</h2>
        <p class="">
            Soy Eloy Lozano, desarrollador web y fotógrafo de retrato. Combino líneas de código con sensibilidad visual
            para crear experiencias digitales únicas.
        </p>
        <div class="socials">
            <a href="#"><i class="icon-github"></i></a>
            <a href="#"><i class="icon-linkedin"></i></a>
            <a href="#"><i class="icon-instagram"></i></a>
            <a href="#"><i class="icon-tiktok"></i></a>
        </div>
    </div>
</div>