---
import Experience from "./Experience.astro";
import AboutMe from "./AboutMe.astro";
---

<section
  id="about"
  data-section="about"
  aria-label="About section"
  class="bg-[#161512] py-24"
>
  <AboutMe />
</section>

<section
  id="experience"
  data-section="experience"
  aria-label="Experience section"
  class="section min-h-screen bg-[#161512] py-16"
>
  <Experience />
</section>

<style>
  section {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
  }

  section::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }
</style>
