---
import Title from "../components/Title.astro";
import Subtitle from "../components/Subtitle.astro";
import Paragraph from "../components/Text.astro";
import { t } from "../i18n";

const lang =
  Astro.request.headers.get("cookie")?.match(/preferredLang=([^;]+)/)?.[1] ||
  "es";
---

<section
  id="home"
  data-section="home"
  class="hero relative min-h-screen flex flex-col justify-end lg:justify-center px-4 sm:px-8 md:px-12 lg:px-26"
  aria-label="Home section"
>
  <!-- Imagen de fondo para móviles -->
  <img
    class="lg:hidden absolute inset-0 w-full h-full object-cover -z-40"
    src="/images/phoneWallpaper.jpg"
    alt="Fondo"
    loading="eager"
  />

  <!-- Contenido principal -->
  <div
    class="z-10 w-full lg:w-[50%] lg:max-w-[800px] xs:mx-auto lg:ml-auto text-white text-left lg:text-right bg-[#161512]/90 lg:bg-transparent py-16 lg:py-0 px-4 sm:px-8 lg:px-6 rounded-lg lg:rounded-none"
  >
    <Title text={t(lang, "pages.home.title")} />
    <Subtitle text={t(lang, "pages.home.work")}  />
    <Paragraph
      size="lg"
      text={t(lang, "pages.home.description")} 
    />

    <div
      class="flex flex-col sm:flex-row items-center justify-between gap-6 mt-8"
    >
      <!-- Redes sociales -->
      <div class="flex justify-center items-center gap-3 sm:gap-2 text-2xl">
        <a
          href="https://github.com/eloylozano"
          aria-label="GitHub"
          class="transform transition-transform duration-200 hover:scale-105"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 social transition duration-300 hover:brightness-125 hover:drop-shadow-[0_0_6px_#e9eeef]"
            viewBox="0 0 24 24"
          >
            <path
              fill="#e9eeef"
              d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"
            ></path>
          </svg>
        </a>

        <div class="w-px h-4 bg-white mx-1 transform rotate-12"></div>

        <a
          href="https://www.linkedin.com/in/eloylozano/"
          aria-label="LinkedIn"
          class="transform transition-transform duration-200 hover:scale-[1.01]"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 social transition duration-300 hover:brightness-125 hover:drop-shadow-[0_0_6px_#e9eeef]"
            viewBox="0 0 24 24"
          >
            <path
              fill="#e9eeef"
              d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"
            ></path>
          </svg>
        </a>

        <div class="w-px h-4 bg-white mx-1 transform rotate-12"></div>

        <a
          href="https://www.tiktok.com/@eloyloozano"
          aria-label="TikTok"
          class="transform transition-transform duration-200 hover:scale-[1.01]"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 social transition duration-300 hover:brightness-125 hover:drop-shadow-[0_0_6px_#e9eeef]"
            viewBox="0 0 24 24"
          >
            <path
              fill="#e9eeef"
              d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"
            ></path>
          </svg>
        </a>

        <div class="w-px h-4 bg-white mx-1 transform rotate-12"></div>

        <a
          href="https://www.instagram.com/eloyloozano/"
          aria-label="Instagram"
          class="transform transition-transform duration-200 hover:scale-[1.01]"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 social transition duration-300 hover:brightness-125 hover:drop-shadow-[0_0_6px_#e9eeef]"
            viewBox="0 0 24 24"
          >
            <path
              fill="#e9eeef"
              d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
            ></path>
          </svg>
        </a>
      </div>

      <!-- Botón de proyectos -->
      <div
        class="group flex items-center cursor-pointer relative w-full sm:w-auto justify-center sm:justify-end"
      >
        <span class="relative inline-block">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 sm:h-7 sm:w-7 me-3 transition-transform duration-500 ease-in-out group-hover:translate-x-8 sm:group-hover:translate-x-40 hover:fill-[#daa032] -translate-x-7 absolute top-1/2 -translate-y-1/2 left-0 z-10"
            viewBox="0 0 24 24"
          >
            <rect width="24" height="24" fill="none"></rect>
            <path
              d="m15.146 12.354l-5.792 5.792a.5.5 0 0 1-.854-.353V6.207a.5.5 0 0 1 .854-.353l5.792 5.792a.5.5 0 0 1 0 .708"
              class="transition-colors duration-320 fill-[#e9eeef] group-hover:fill-[#daa032]"
            ></path>
          </svg>
        </span>

        <a
          href="#projects"
          class="flex space-x-0.5 z-0 text-[#e9eeef] text-sm sm:text-base"
        >
          {
            "Ver mis proyectos"
              .split("")
              .map((char, i) => (
                <span
                  class={`transition-colors duration-300 group-hover:text-[#daa032] delay-[${i * 20}ms]`}
                >
                  {char === " " ? "\u00A0" : char}
                </span>
              ))
          }
        </a>
      </div>
    </div>
  </div>

  <!-- Imagen de fondo para desktop -->
  <div
    class="background hidden lg:block absolute inset-0 -z-10 bg-cover lg:bg-center"
    style="background-image: url('/images/main.jpg'); background-position: left;"
  >
  </div>
</section>

<style>
  /* Ajustes específicos para mejorar la responsividad */
  @media (max-width: 1023px) {
    .hero {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  @media (max-width: 639px) {
    .hero {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .hero > div {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
</style>
