---
import ProjectsGrid from "./ProjectsGrid.astro";
import Stack from "./Stack.astro";
---

<section
  id="projects"
  data-section="projects"
  aria-label="Projects section"
  class=" bg-[#161512]"
>
  <ProjectsGrid />
</section>

<section
  id="stack"
  data-section="stack"
  aria-label="Stack section"
  class="bg-[#161512] py-24 lg:px-26"
>
  <Stack />
</section>

<style>
  section {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
  }

  section::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }
</style>
