---
import RecommendationCard from "./RecommendationCard.astro";
import Title from "./Title.astro";
---

<section
  id="recommendations"
  data-section="recommendations"
  aria-label="Recommendations section"
  class="scroll-container bg-[#161512] py-36 px-6 sm:px-12 md:px-24 lg:px-26 text-white"
>
  <Title class="text-center mb-10" text="Recomendaciones" />
  <div class="flex flex-wrap justify-center gap-30 lg:gap:10 xs:max-w-4xl mx-auto mt-32">
    <RecommendationCard
      text="Destaca por su curiosidad técnica, capacidad de adaptación a nuevas tecnologías y compromiso en cada proyecto. Tiene perfil claramente profesional."
      author="Mónica P. Sueiro"
      relationship="Docente"
      class="w-[45%]"
    />
    <RecommendationCard
      text="Trabajar con él es fácil y productivo. Siempre busca soluciones limpias y eficientes, y tiene muy buen ojo para el detalle visual"
      author="Dani Sánchez"
      relationship="Compañero"
      class="w-[45%]"
    />
    <RecommendationCard
      text="Es un desarrollador con iniciativa, resolutivo y buen comunicador. Sabe combinar bien la parte técnica con el diseño."
      author="Miguel Iglesias"
      relationship="Compañero"
      class="w-[90%] mx-auto"
    />
  </div>
</section>