---
import StackCard from "./StackCard.astro";
import Title from "./Title.astro";
import { t } from "../i18n";

const lang =
  Astro.request.headers.get("cookie")?.match(/preferredLang=([^;]+)/)?.[1] ||
  "es";
---

<article class="text-white">
  <Title text={t(lang, "pages.stack.title")} class="text-center" />

  <div
    class="container mx-auto max-w-full flex flex-wrap justify-between mt-12 gap-y-8 gap-x-6 px-4"
  >
    <div class="w-fit sm:w-1/2 lg:w-fit mx-auto">
      <StackCard
        title={t(lang, "pages.stack.backend")}
        icons={[
          { src: "/images/icons/java.png", alt: "Java" },
          { src: "/images/icons/php.png", alt: "Php" },
          { src: "/images/icons/spring.png", alt: "Spring" },
          { src: "/images/icons/symfony.png", alt: "Symfony" },
          { src: "/images/icons/node.png", alt: "Node" },
          { src: "/images/icons/git.png", alt: "Git" },
        ]}
      />
    </div>

    <div class="w-fit sm:w-1/2 lg:w-fit mx-auto">
      <StackCard
        title={t(lang, "pages.stack.frontend")}
        icons={[
          { src: "/images/icons/react.png", alt: "React" },
          { src: "/images/icons/angular.png", alt: "Angular" },
          { src: "/images/icons/svelte.png", alt: "Svelte" },
          { src: "/images/icons/astro.png", alt: "Astro" },
          { src: "/images/icons/next.png", alt: "Next" },
          { src: "/images/icons/vite.png", alt: "Vite" },
        ]}
      />
    </div>

    <div class="w-fit sm:w-1/2 lg:w-fit mx-auto">
      <StackCard
        title={t(lang, "pages.stack.data")}
        icons={[
          { src: "/images/icons/mongo.png", alt: "MongoDB" },
          { src: "/images/icons/mySQL.png", alt: "MySQL" },
          { src: "/images/icons/postgreSQL.png", alt: "PostgreSQL" },
          { src: "/images/icons/python.png", alt: "Python" },
          { src: "/images/icons/numpy.png", alt: "Numpy" },
          { src: "/images/icons/pandas.png", alt: "Pandas" },
        ]}
      />
    </div>

    <div class="w-fit sm:w-1/2 lg:w-fit mx-auto">
      <StackCard
        title={t(lang, "pages.stack.design")}
        icons={[
          { src: "/images/icons/Photoshop.png", alt: "Photoshop" },
          { src: "/images/icons/Lightroom.png", alt: "Lightroom" },
          { src: "/images/icons/Premiere.png", alt: "Premiere" },
          { src: "/images/icons/Figma.png", alt: "Figma" },
          { src: "/images/icons/Canva.png", alt: "Canva" },
          { src: "/images/icons/Penpot.png", alt: "Penpot" },
        ]}
      />
    </div>
  </div>

  <hr class="neon-hr hidden lg:block" />
</article>

<style>
  .neon-hr {
    height: 2px;
    border: none;
    background: #daa032;
    box-shadow:
      0 0 10px #daa032,
      0 0 20px #daa032,
      0 0 30px #daa032;
    margin: 4rem 0;
  }
</style>
