---
const { text, size = "md", class: additionalClass = "" } = Astro.props;

// Divide el texto por doble salto de línea o simple
const paragraphs = text.split(/\n{1,2}/);
---

{
  paragraphs.map((para: string) => (
    <p
      class={`tracking-wide text-[#e9eeef] font-['Lato'] mt-4
      ${size === "lg" ? "text-lg md:text-xl leading-8" : "text-md leading-6"}
      ${additionalClass}`
    }
    >
      {para}
    </p>
  ))
}