---
const {
  text,
  size = "md",
  class: additionalClass = "",
  noMargin = false, // â† nueva prop
} = Astro.props;

const paragraphs = text.split(/\n{1,2}/);
---

{
  paragraphs.map((para: string) => (
    <p
      class={`tracking-wide text-[#e9eeef] font-['Lato']
      ${size === "lg" ? "text-lg md:text-xl leading-8" : "text-md leading-6"}
      ${noMargin ? "" : "mt-4"}
      ${additionalClass}`}
    >
      {para}
    </p>
  ))
}
