---
const { text } = Astro.props;
---

<h1 class="text-7xl leading-[100px] tracking-wide mb-8 font-['PT_Serif'] font-normal bg-gradient-to-r from-[#daa032] to-[#926717] bg-clip-text text-transparent ">
  {text}
</h1>
