---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ScrollSpy from "../components/ScrollSpy.astro";

import "../styles/global.css";
const path = Astro.url.pathname;
const lang = Astro.cookies.get("preferredLang")?.value || "es";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eloy Lozano Barrios</title>

    <meta name="description" content="Portfolio web de Eloy Lozano Barrios" />
    <link rel="icon" type="image/x-icon" href="/images/logo.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      media="print"
      onload="this.media='all'"
    />

    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-NP56HSBSPJ"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-NP56HSBSPJ");
    </script>
  </head>
  <body class="bg-[#161512] text-white">
    <Navbar />
    {path === "/" && <ScrollSpy />}
    <main><slot /></main>
    <script src="/script.js" defer></script>
  </body>
</html>
