---
const { text, class: additionalClass = "" } = Astro.props;
---

<h4
  class={`text-xl font-bold tracking-wide font-lato bg-gradient-to-r from-[#daa032] to-[#875F14] bg-clip-text text-transparent     ${additionalClass}`}
>
  {text}
</h4>
